<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.woohp.admin"
	version 	= "1.2.0">

	<name>WOOHP Test App</name>

	<description>
		My first iPhone app test
	</description>

	<author href="http://www.woohp.us"
		email="admin@woohp.us">
		WOOHP CORP
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
